# Entornos virtuales
venv/
env/

# Node.js
node_modules/

# Archivos del sistema
__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db

# Configuración local
*.env

# Archivos sensibles
secrets/
*.json

# Logs y archivos temporales
*.log
*.tmp
